<div>

    <div class="head" dir="rtl">
        <div class="navigation">
            <ul>
                <li><a ui-sref="root.home">ראשי</a></li>
                <li id="last" ng-show="isLoggedIn()">
                    <a ui-sref="root.add">
                        <div class="tag">
                            הוסף אירוע +
                        </div>
                    </a>
                </li>
                <li id="first" ng-hide="isLoggedIn()">
                    <a ui-sref="root.signin">
                        <div class="tag">
                            התחבר
                        </div>
                    </a>
                </li>
                <li id="second" ng-hide="isLoggedIn()">
                    <a ui-sref="root.signup">
                        <div class="tag">
                            הירשם
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div ui-view></div>

    <!--<div class="footer">-->
    <!--<span>© Posh Team 2017</span>-->
    <!--</div>-->
</div>
