<div class="add" dir="rtl" style="width: 40%;">
    <h1>כדורגל שני

        <span class="subscribe clickable" ng-show="isLoggedIn() && !isAttending()" ng-click="attend()">
    הירשם +
    </span>
    <span class="cancel-subscribe clickable" ng-show="isLoggedIn() && isAttending()" ng-click="cancelAttend()">
    - ביטול רישום 
    </span>
    
    </h1>

    <br>
    <h5>{{event.Place}} {{event.StartTime}}</h5>
    <p id="description">{{event.Description}}</p>
    <div class="tags">
        <ul>
            <li ng-repeat="tag in event.Tags.split(',')">
                <div class="tag">#{{tag}}</div>
</ul>
    </div>
    <div class="users">
        <h3>משתמשים רשומים <span class="members">
   3/21
    </span></h3>
        <ul id="users-list">
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
            <li>אלון דורון</li>
            <li>מקסים ניקולצה</li>
        </ul>
    </div>
    
    <div class="add-comment" ng-show="isLoggedIn()">
        <form>
            <input type="text" placeholder="הוסף הערה..." ng-model="comment">
            <input type="submit" value="שלח" ng-click="sendComment()">
        </form>
    </div>
    <div class="comments">
        <table>
            <tr ng-repeat="comment in event.Comments">
                <td>
                <b>{{comment.Username}}</b>
                </td>
                <td>
                    {{comment.Content}}
                </td>
                <td>
                    {{comment.Time}}
                </td>
            </tr>
        <!--<ul>
            <li class="boxed" ng-repeat="comment in event.Comments">
                <tr>
                    <b>{{comment.Username}}: </b>{{comment.Content}}
                </tr>
                <tr>
                    {{comment.Time}}
                </tr>
            </li>
        </ul>-->
        </table>
    </div>
</div>
