<div class="add" dir="rtl">
    <h1>כדורגל

        <span class="subscribe">
    הירשם +
    </span>
    </h1>

    <br>
    <h5>ספורט, מגרש כדורגל 21/6/2017 18:00</h5>
    <p>איזה כיף פה איזה כיף פה איזה כיף פה איזה כף פה איזה כיף פה איזה כף פה איזה כיף פה איזה כף פה איזה כיף פה איזה כף
        פה</p>
    <div class="tags">
        <ul>
            <li>
                <div class="tag">#עדמתי</div>
            </li>
            <li>
                <div class="tag">#כמה עוד</div>
            </li>
            <li>
                <div class="tag">#למה אכלתי</div>
            </li>
        </ul>
    </div>
    <div class="add-comment">
        <form>
            <input type="text" placeholder="הוסף הערה...">
            <input type="submit" value="שלח">
        </form>
    </div>
    <div class="comments">
        <ul>
            <li><b>אלעד גילדנור: </b> קללל</li>
            <li><b>אלון דורון: </b> ששששש.. הכל בסדר</li>
            <li><b>גיל אלעזר: </b>עוגה בוגה עוגה בוגה</li>
        </ul>
    </div>
</div>
