<div class="home-screen">

    <div class="slogan">
        <h1>After Hours</h1>
        <h2 dir="ltr">Events. For all.</h2>
    </div>

    <div class="search">
        <form method="get">
            <tags-input type="text" placeholder="Search for tags..." on-tag-removed="updateEvents(previewEvents)"
                        on-tag-added="updateEvents($tag)" ng-model="tags">
                <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
            <!--<input id="search-input" type="text" placeholder="Enter some text here..." />-->
        </form>
    </div>
</div>

<div class="events">
    <div class="box" ng-repeat="event in previewEvents" ng-click="clickEvent(event.EventId)">
        <img src="http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png" />
        <footer>
            <span>{{event.Name}}</span>
            <div class="tag" ng-show="event.MaxAttandence">
                {{event.CurrentAttandance}}/{{event.MaxAttandence}}
            </div>
            <div class="tag" ng-hide="event.MaxAttandence" dir="ltr">
                 {{event.CurrentAttandance}} Attendees
            </div>
            <div class="tag" ng-show="event.MinAttandence && event.CurrentAttandance < event.MinAttandence" dir="ltr">
                 {{event.MinAttandence - event.CurrentAttandance}} more Attendees are needed
            </div>
        </footer>
    </div>
</div>
