<div class="home-screen">

    <div class="slogan">
        <h1>After Hours</h1>
        <h2 dir="ltr">Events. For all.</h2>
    </div>

    <div class="search">
        <form method="get">
            <input id="search-input" type="text" placeholder="Enter some text here..."/>
        </form>
    </div>
</div>

<div class="main">
  <div class="box">
        <img src="http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png" />
        <footer><span>
כדורגל        </span>
<div class="tag">
  3/21
</div>

</footer>
  </div>
</div>
