<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">נא התחבר</h2>
        <label for="inputEmail" class="sr-only">יוזר</label>
        <input id="inputEmail" type="text" ng-model="username" class="form-control" placeholder="יוזר" required
               autofocus>
        <label for="inputPassword" class="sr-only">סיסמא</label>
        <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="סיסמא" required>
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="remember-me"> זכור אותי-->
        <!--</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-black primary btn-block" type="submit" ng-click="signin()">התחבר</button>
    </form>

</div>