<div class="add" dir="rtl">
    <h1>הוסף אירוע</h1>
    <hr class="star-primary">
    <div class="form">
        <form>
            <label>שם האירוע</label>
            <br/>
            <input type="text" ng-model="event.EventName"/>
            <br/>
            <label>מיקום</label>
            <br/>
            <select ng-model="event.Place">
                <option value="soccerField">מגרש דשא</option>
                <option value="basketBallField">מגרש כדורסל</option>
                <option value="threeRainbow">אולם שלושת הקשתות</option>
                <option value="hadan80">חדן 80</option>
                <option value="other">אחר</option>
            </select>
            <br/>
            <label>זמן התחלה</label>
            <br/>
            <input type="datetime-local" ng-model="event.StartTime"/>
            <br/>

            <label>זמן סיום</label>
            <br/>
            <input type="datetime-local" ng-model="event.EndTime"/>
            <br/>

            <label>מספר משתתפים מקסימלי</label>
            <br/>
            <input type="number" ng-model="event.MaxLimit"/>
            <br/>

            <label>מספר משתתפים מינימלי</label>
            <br/>
            <input type="number" ng-model="event.MinLimit"/>
            <br/>

            <label>קטגוריה</label>
            <br/>
            <select ng-model="event.Category">
                <option value="sport">ספורט</option>
                <option value="culture">תרבות</option>
            </select>
            <br/>

            <label>תגיות</label>
            <br/>
            <input type="text" ng-model="event.Tags"/>
            <br/>

            <button ng-click="postEvent()">שלח</button>
        </form>
    </div>
</div>
