<div class="add">
  <h1>הוסף אירוע</h1>
  <hr class="star-primary">
  <div class="form">
  <form>
    <label>שם האירוע</label>
<br />
    <input type="text"/>
    <br />
    <label>מיקום</label>
    <br />
    <select>
        <option value="">מגרש דשא</option>
        <option value="">מגרש כדורסל</option>
        <option value="">אולם שלושת הקשתות</option>
        <option value="">חדן 80</option>
        <option value="">אחר</option>
    </select>
    <br />
    <label>זמן התחלה</label>
    <br />
    <input type="datetime-local" />
    <br />
    <label>זמן סיום</label>
    <br />
    <input type="datetime-local" />
    <br />
    <label>מספר משתתפים מקסימלי</label>
    <br />
    <input type="number" />
    <br />
    <label>מספר משתתפים מינימלי</label>
    <br />
    <input type="number" />
    <br />
    <label>קטגוריה</label>
    <br />
    <select>
        <option value="">ספורט</option>
        <option value="">תרבות</option>
    </select>
    <br />
    <label>תגיות</label>
    <br />
    <input type="text" />
  </form>
  </div>
</div>
