
body ,h1, h2, h3, h4, h5, p, span
{
  font-family: tahoma;
  padding: 0;
  margin: 0;
}

.head
{
  padding: 10px 0 10px 0;
  width: 100%;
  min-height: 50px;
  background-color: #2C3E50;
}


.navigation li
{
  color: #fff;
  font-weight: bold;
  list-style-type: none;
  float: left;
  padding-right: 40px;
}

.navigation li a
{
  color: #fff;
  text-decoration: none;
}

.navigation li a:hover
{
  color: #18BC9C;
}

.container
{
  text-align: center;
  background-color: #18BC9C;
  padding: 50px;
}

.slogan
{
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.slogan h1
{
  margin: 0;
  font-size: 6em;
}

.slogan h2
{
  font-family: monospace;
  font-size: 25px;
}

.search #search-input
{
    padding: 15px 20px 15px 20px;
    width: 40%;
    font-size: 15px;
    border-radius: 19px;
    margin-top: 4%;
    border: 0;
}

.main
{
  display: grid;
  margin: auto;
  width: 80%;
}

.box a
{
  box-shadow: 0 0 6px 0 #2C3E50;
  float: left;
  width: 25%;
  margin: 40px 2.5% 0 2.5%;
  height: 250px;
}

.box a:hover
{
  box-shadow: 0 0 6px 0 #18BC9C
}

.footer
{
  margin-top: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #2C3E50;
  text-align: center;
  padding: 10px 0 10px 0;
  width: 100%;
}
